<container align="center">

  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>

  <h1>Dreams have themes... </h1>
  <br>
  <hr width="50%">
  <br>
  <br>

  <form action="/categories" method="POST">
  	What was yours? <input  type="text" name="title">
  	<input style="border:none; background:white" type="submit" value="Submit">
  </form>


</container>