
<h3>Signup. Dream on.</h3>

<div class="singup_form">

<form action="/login" method="post">
  <input type="text" name="user[name]" placeholder="Your name here">
  <input type="password" name="user[password]" placeholder="Your password here">
  <input type="submit">
</form>


</div>
