<form action="/login" method="post">
  <input type="text" name="user[email]" placeholder="Your email here">
  <input type="password" name="user[password]" placeholder="Your password here">
  <input type="submit">
</form>
