
<div id="login_box">
	<% if current_user  %>
		You are already logged in.
	<% else %>
	<form action="/login" method="post">
		<div><input type="text" name="user[name]" placeholder="Username"></div>
		<div><input type="password" name="user[password]" placeholder="Password"></div>
		<div><input type="submit" value="Log In"></div>
	</form>
	<% end %>
	
</div>