<form action="/signup" method="post">
  <input type="text" name="user[name]" placeholder="Your name here">
  <input type="text" name="user[email]" placeholder="Your email here">
  <input type="password" name="user[password]" placeholder="Your password here">
  <input type="password" name="user[password_confirmation]" placeholder="Confirm password">
  <input type="submit">
</form>
