
<div><img style="height:200px;width:100%" src="http://i.imgur.com/hXfCgmH.png?1">
  </div>

  <div style="height:75px;width:100%">
  </div>


<div align="center">

  <h3>Signup. Dream on.</h3>

  <div style="height:50px;width:100%">
  </div>


  <div class="singup_form">
  <form action="/signup" method="post">
    <input type="text" name="user[name]" placeholder="Name">
    <input type="password" name="user[password]" placeholder="Password">
    <input type="password" name="user[password_confirmation]" placeholder="Password">
    <input type="submit">
  </form>

  </div>
</div>
