/* CSS declarations go here */


.user {
  font-style:italic;
  font-size:15px;
}

.user-comment {
  font-size:30px;
}

ul li {
  list-style-type: none;
  padding-bottom: 20px;
}

#comment-box {
  padding-bottom:20px;
}

/*
.logo {
  width:100%;
  height:100%;
  float:bottom;
}*/

