<h3>Been Dreaming?</h3>

<form action="../dreams/new" method="POST">
  Dream Title: <input type="text" name="title">
  Describe the Dream: <input type="text" name="content">
  <input type="submit" value="...I dreamed">
</form>